<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Upscreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Upscreen.Properties.Settings>
            <setting name="AnonAPI" serializeAs="String">
                <value>YOUR_ANON_API_KEY_FROM_IMGUR</value>
            </setting>
        </Upscreen.Properties.Settings>
    </userSettings>
</configuration>